body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background: url('yosemite_crop.jpg') no-repeat center center;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

.jumbotron .container {
  position: relative;
  top: 200px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

.footer {
  margin: 20px;
  text-align: center;
}

.publist {
  background-color: #f7f7f7;
}

.publist h3 {
  margin-top: 110px;
}

.contact p {
  font-size: 16px;
}

.contact {
  background-color: #f7f7f7;
}

.contact h3 {
  margin-top: 110px;
}

.about1-img {
  max-width: 200px;
  max-height: 200px;
  height: 100%;
}

.about1-img img{
  max-width: 80%;
  display: block;
  height: auto;
}

.about1-text {
  max-width: 600px;
  float: right;
}

.about-img {
  max-width: 300px;
  height: 100%;
}

.about-img img{
  max-width: 80%;
  display: block;
  height: auto;
}

.about-text {
  max-width: 600px;
  float: right;
}

.column-img {
  float: right;
  width: 33.33%;
  padding: 10px;
}

.column-text {
  float: left;
  width: 60%;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}

.about {
  width: 100%;
  display: flex
}



